{% extends 'baseAdmin.html.twig' %}

{% block body %}
    
     <div class="page-wrapper">
     <div class="container-fluid" id="container-wrapper">

            

<div class="card">
	<div class="d-sm-flex align-items-center justify-content-between">
	<h5 class=" mb-0 text-gray-800 pl-3">Card Bank</h5>
	<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=" {{ path('newcard') }}" >Dashboard</a></li>
		<li class="breadcrumb-item"><a href=" {{ path('newcard') }}">Card Bank</a></li>
	</ol>
	</div>
</div>


<div class="row mt-3">
  <div class="col-lg-12">
	<div class="alert alert-success" style="display: none;" role="alert">
        <button type="button" class="close hide-close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <p class="m-0"></p>
      </div>


	<div class="card mb-4">
	  <div class="table-responsive p-3">
		<div id="geniustable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row btn-area"><div class="col-sm-4"><div class="dataTables_length" id="geniustable_length"><label>Show <select name="geniustable_length" aria-controls="geniustable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-4"></div><div class="col-sm-12 col-md-4 pr-3 text-right"><a class="btn btn-primary" href=" {{ path('type_add') }}"><i class="fas fa-plus"></i> Add New Category</a></div></div><div class="row"><div class="col-sm-12"><table id="geniustable" class="table table-hover dt-responsive dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="geniustable_info" style="width: 100%;">
		  <thead class="thead-light">
			<tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 190px;">Name</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 185px;">Description</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 173px;">Options</th></tr>
		  </thead>
		<tbody>
{% for c in cards %}
                        <tr>
                          <td data-label="Bank">
                            <div>{{ c.nom  }}</div>
                          </td>
                          <td data-label="Account dd">
                            <div>{{ c.description }}</div>
                          </td>
						<td>
						<div class="btn-group mb-1">
                            <button type="button" class="btn btn-primary btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Actions
                            </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                  <a href=" {{ path('card_update', {'id': c.id}) }}" class="dropdown-item">Edit</a>
                                  <a  class="dropdown-item" href="{{ path('card_remove', {'id': c.id}) }}">Delete</a>
                                </div>
                              </div></td>


                            {% else %}
                        <tr>
                            <td colspan="6">no Account found</td>
                        </tr>
                      {% endfor %}



		
		</tbody>
		
		
		
		
		
		</table><div id="geniustable_processing" class="dataTables_processing card" style="display: none;"><img src="https://product.geniusocean.com/genius-bank/assets/images/33CiUFaI1641808748.gif"></div></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="geniustable_info" role="status" aria-live="polite">Showing 1 to 6 of 6 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="geniustable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="geniustable_previous"><a href="#" aria-controls="geniustable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="geniustable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="geniustable_next"><a href="#" aria-controls="geniustable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
	  </div>
	</div>
  </div>
</div>


<div class="modal fade confirm-modal" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title">Update Status</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		</div>
		<div class="modal-body">
			<p class="text-center">You are about to change the status.</p>
			<p class="text-center">Do you want to proceed?</p>
		</div>
		<div class="modal-footer">
		<a href="javascript:;" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
		<a href="javascript:;" class="btn btn-success btn-ok">Update</a>
		</div>
	</div>
	</div>
</div>






<div class="modal fade confirm-modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">You are about to delete this Category. Every informtation under this category will be deleted.</p>
				<p class="text-center">Do you want to proceed?</p>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
				<a href=" {{ path('newcard') }}"   class="btn btn-danger btn-ok" data-dismiss="modal">Delete</a>
			</div>
		</div>
	</div>
</div>


        </div>
	</div>
        
{% endblock %}




{# <td><div class="btn-group mb-1">
                                <button type="button" class="btn btn-primary btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Actions
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                  <a href=" {{ path('editcard') }}" class="dropdown-item">Edit</a>
                                  <a href="javascript:;" data-toggle="modal" data-target="#deleteModal" class="dropdown-item" data-href="https://product.geniusocean.com/genius-bank/admin/blog/category/delete/7">Delete</a>
                                </div>
                              </div></td> #}