{% extends 'baseAdmin.html.twig' %}

{% block body %}


          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="card">
              <div
                class="d-sm-flex align-items-center py-3 justify-content-between"
              >
                <h5 class="mb-0 text-gray-800 pl-3">
                  Add New Accout Type
                  <a
                    class="btn btn-primary btn-rounded btn-sm"
                    href="https://product.geniusocean.com/genius-bank/admin/page"
                    ><i class="fas fa-arrow-left"></i> Back</a
                  >
                </h5>
                <ol class="breadcrumb py-0 m-0">
                  <li class="breadcrumb-item">
                    <a
                      href="https://product.geniusocean.com/genius-bank/admin/dashboard"
                      >Dashboard</a
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:;">Request accout</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a
                      href="https://product.geniusocean.com/genius-bank/admin/page"
                      >Accounts/a
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a
                      href="https://product.geniusocean.com/genius-bank/admin/page/create"
                      >Add New Account</a
                    >
                  </li>
                </ol>
              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-md-10">
                <!-- Form Basic -->
              <div class="card mb-4">
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Add Account Type
                    </h6>
                  </div>

                <div class="card-body">
                    <div
                      class="gocover"
                      style="
                        background: url(https://product.geniusocean.com/genius-bank/assets/images/33CiUFaI1641808748.gif)
                          no-repeat scroll center center rgba(45, 45, 45, 0.5);
                      "
                    ></div>                          
                 {{form_start(form)}}                       

                    <div class="form-group">
                           {{form_label(form.type,'Type : ',{'attr':{'class':'form-label'}})}}
                           {{form_widget(form.type,{'attr':{'class':'form-control'}})}}                
                    </div>

                   <div class="form-group">
                          {{form_label(form.description,'Description : ',{'attr':{'class':'form-label'}})}}
                          {{form_widget(form.description,{'attr':{'class':'form-control'}})}}  
                    </div>
           
                    {{form_widget(form.save,{'attr':{'class':'btn btn-primary w-100'}})}}
           
                 {{form_end(form)}}


                    
                    
                </div>
             </div>

                <!-- Form Sizing -->

                <!-- Horizontal Form -->
              </div>
            </div>
            <!--Row-->
          </div>
          <!---Container Fluid-->
{% endblock %}






{# 
{% block body %}
    <h1>Create new Compte</h1>

    {{ include('compte/_form.html.twig') }}

    <a href="{{ path('app_compte_index') }}">back to list</a>
{% endblock %} #}
